@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.Promoto {
  font-family: 'Poppins', sans-serif;
}

/* ---------------------------------------------------------- Landing Page ---------------------------------------------------------- */
.landingPage, .signupPage, .Edit {
  background-image: url("../assets/sunset.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.landingPageContainer, .signup {
  display: grid;
  grid-template-rows: repeat(2);
  justify-content: center;
  padding: 15%;
  color:rgb(28, 50, 80)
}

.landingPageTitle {
  justify-self: center;
}

/* ---------------------------------------------------------- Home Page ---------------------------------------------------------- */

.home, .searchPosts, .searchSongs, .searchUsers, .editSongPage, .editPostPage {
  background: linear-gradient(rgb(109, 138, 205), rgba(251, 128, 46, 0.529));
  overflow: auto;
  display: grid;
  grid-template-rows: 2;
}

.homePagePosts {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(1, minmax(250px, 1fr));
  grid-gap: 8em;
  padding: 6vh 28vw 0 28vw;
}

/* ---------------------------------------------------------- Navbars ---------------------------------------------------------- */

.homeNavbar {
  justify-content: space-between;
  align-items: center;
  color: rgb(28, 50, 80);
  background-color: rgba(15, 32, 57, 0.28);
  width: 100vw;
}

.navbarTitle {
  display: flex;
  margin-left: 2rem;
  font-size: 1rem;
  color: rgb(72, 21, 119)
}

.navbarLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
  padding-bottom: 2rem;
  text-decoration: none;
}

.navLink {
  color: rgb(72, 21, 119);
}

.searchNavbar {
  justify-content: space-between;
  align-items: center;
  color: rgb(28, 50, 80);
  background-color: rgba(15, 32, 57, 0.28);
  width: 100vw;
}

.searchNavbarTitle {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.searchNavbarHome {
  display: flex;
  justify-content: center;
}

.searchNavbarLinks, .editRouter, .deleteRouter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2rem;
  padding-bottom: 2rem;
}

/* ---------------------------------------------------------- Posts ---------------------------------------------------------- */

.postsContainer {
  display: grid;
}

.postContainerUsernameLikes {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.postUsername {
  padding-left: 10%
}

.postLikes {
  padding-right: 10%;
}

.postCardContainer {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(1, minmax(250px, 1fr));
  grid-gap: 8em;
  padding: 12em;
}

.postsContainerContent {
  border-radius: 4px;
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.3);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background-color: rgba(15, 32, 57, 0.28);
  width: 60% max-content;
  margin: 4em 0 4em 0;
  border: double transparent rgb(28, 50, 80)
}

.postCardUsernameLikes {
  text-align: left;
  flex-direction: row;
  justify-content: space-between
}

.postLikes {
  font-size: large;
}

.postContainerImage {
  justify-content: center;
  align-self: center;
  width: 100%;
}

.deletePostButton {
  background: rgba(74, 74, 74, 0.28);
  border: double transparent rgb(28, 50, 80);
  font-family: 'Poppins', sans-serif;
}

/* -- CSS for Posts in search and edit - */

.searchPostsContainer {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 8em;
  margin: 0 12em 0 12em ;
}

.searchPostContainerUsernameLikes {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.searchPostUsername {
  padding-left: 10%
}

.searchPostLikes {
  padding-right: 10%;
}

.searchPostsContainerContent {
  border-radius: 4px;
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.3);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background-color: rgba(15, 32, 57, 0.28);
  width: 60% max-content;
  margin: 4em 0 4em 0;
  border: double transparent rgb(28, 50, 80)
}

.searchPostContainerImage {
  justify-content: center;
  align-self: center;
  width: 100%;
}

/* ---------------------------------------------------------- Search ---------------------------------------------------------- */

.search {
  background-image: url("../assets/sunset.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.searchTitle {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: rgb(26, 7, 43)
}

.searchHome {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.searchPageLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: rgb(26, 7, 43);
  padding-top: 5rem;
}

/* ---------------------------------------------------------- Songs ---------------------------------------------------------- */

.songsContainer {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 8em;
  padding: 12em;
} 

.songsContainerContent, .editSongsContainerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.songContainerCover, .editSongContainerCover {
  max-width: 40%;
}

.searchSongs {
  font-size: 80%;
}

.songCover {
  max-width: 280px;
}

.editSongsContainer {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 8em;
  padding: 12em;
  font-size: 12px
}


/* ---------------------------------------------------------- Users ---------------------------------------------------------- */

.usersContainer {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 8em;
  padding: 12em;
}

.usersContainerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ---------------------------------------------------------- Spotlight ---------------------------------------------------------- */

.Spotlight {
  background: url("../assets/sunset-2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0 auto;
}

.spotlightNavbar {
  justify-content: space-between;
  align-items: center;
  color: rgb(28, 50, 80);
  background-color: rgba(15, 32, 57, 0.28);
  width: 100vw;
}

.spotlight {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 8em;
    padding: 12em;
    color:lavender
  }

.spotlightHeader {
  display: flex;
  justify-content: center;
  color: lavender;
  font-size: x-large;
}

.songList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---------------------------------------------------------- Create / Add Page ---------------------------------------------------------- */

.Create {
  background-image: url("../assets/sunset.png");
  background-position: center;
  background-size: 100%;
}

.createFormContainers {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.addSongContainer {
  border-radius: 4px;
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.3);
  background-color: rgba(15, 32, 57, 0.28);
  border: double transparent rgb(28, 50, 80);
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  margin: 8rem 0 4rem 0;
}

.createPostContainer {
  border-radius: 4px;
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.3);
  background-color: rgba(15, 32, 57, 0.28);
  border: double transparent rgb(28, 50, 80);
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
}

.createPostTitle {
  display: flex;
  justify-content: center;
}

.addSongForm , .createPostForm {
  display: flex;
  flex-direction: column;
}

/* ---------------------------------------------------------- Edit Pages ---------------------------------------------------------- */

.editNavbar {
  justify-content: space-between;
  align-items: center;
  color: rgb(28, 50, 80);
  background-color: rgba(15, 32, 57, 0.28);
  width: 100vw;
  padding-bottom: 1rem;
  margin-bottom: 6rem;
}

.editSongPageTitle, .editPostPageTitle {
  display: flex;
  justify-content: center;
}

.backToEdit {
  display: flex;
  justify-content: center;
}

.updateSongContainer, .updatePostContainer {
  display: flex;
  justify-self: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.3);
  background-color: rgba(15, 32, 57, 0.28);
  border: double transparent rgb(28, 50, 80);
  width: 20%;
  align-items: center;
  padding-bottom: 2rem;
  margin: 8rem 0 4rem 0;
}

.deleteSongContainer, .deletePostContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.deleteSongsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 4rem;
} 

.deletePagePosts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.deletePosts {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}

.deletePostImage {
  height:180px;
}

.editPostsContainer {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3,  1fr);
  grid-gap: 8em;
}

.updateSongForm, .updatePostForm {
  padding-top: 2rem;
}

.deleteSongForm, .deletePostForm {
  display: flex;
  flex-direction: row;
}

.deleteSongPage, .deletePostPage {
  background: linear-gradient(rgb(109, 138, 205), rgba(251, 128, 46, 0.529));
  height: 100vh;
  overflow: auto;
  display: grid;
}